li {
    list-style: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    padding: 10px 19px;
}

/* Navigation bar */

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/* Header Top */
.header-area .header-top {
    padding: 29px 170px;
}

.header-area .header-top .header-info-left .form-box {
    
}

.header-area .header-top .header-info-left .form-box .search-icon {
    position: absolute;
    display: inline-block;
    top: 6px;
    right: 1px;
    padding: 7px 23px;
    cursor: pointer;
    background: white;
}

.header-area .header-top .header-info-left .form-box .search-icon i {
    color: #140C40;
    cursor: pointer;
    font-size: 18px;
}

/* Header Bottom */

.header-bottom {
    border-top: 1px solid #E6E5EA;
}

.header-bottom .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
}


/* Latest Posts area */

.section-tittle {
    position: relative;
}

.section-tittle::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 77%;
    background: #C7D2D8;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Footer */

.footer-bottom-area .footer-border {
    border-top:  1px solid #E6E5EA;
    padding: 18px 0px 4px;
}